[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycodestyle = {git = "https://github.com/PyCQA/pycodestyle.git"} 

djangorestframework = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.11"
[scripts]
pytests = "python3 manage.py test"
