ago==0.0.95
asgiref==3.6.0
attrs==23.1.0
Automat==22.10.0
autopep8==2.0.2
beautifulsoup4==4.12.2
binaryornot==0.4.4
boto3==1.26.123
botocore==1.29.123
brotlipy==0.7.0
bs4==0.0.1
cchardet==2.1.7
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
constantly==15.1.0
coverage==7.2.3
cryptography==40.0.2
cssselect==1.2.0
dataclasses==0.6
dataclasses-serialization==1.3.1
distlib==0.3.6
dj-database-url==2.0.0
Django==4.2
django-ckeditor==6.2.0
django-cors-headers==3.14.0
django-debug-toolbar==4.0.0
django-heroku==0.3.1
django-js-asset==2.0.0
django-rest-framework-mongoengine==3.4.1
django-silk==5.0.3
django-tinymce==3.5.0
djangorestframework==3.14.0
dnspython==2.3.0
docopt==0.6.2
dotmap==1.3.30
elastic-transport==8.4.0
elasticsearch==8.7.0
et-xmlfile==1.1.0
feedfinder2==0.0.4
feedparser==6.0.10
filelock==3.12.0
fingerprint==0.1.6
fnv-hash-fast==0.3.1
fnvhash==0.1.0
gitdb2==3.0.1
GitPython==2.1.11
gprof2dot==2022.7.29
gunicorn==20.1.0
hjson==3.1.0
hurry.filesize==0.9
hyperlink==21.0.0
incremental==22.10.0
install==1.3.5
itemadapter==0.8.0
itemloaders==1.1.0
jieba3k==0.35.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
langdetect==1.0.9
lxml==4.9.2
MarkupSafe==2.1.2
mongoengine==0.27.0
more-properties==1.1.1
mypy-extensions==1.0.0
news-please==1.5.33
newspaper3k==0.2.8
nltk==3.8.1
numpy==1.24.3
openpyxl==3.1.2
packaging==23.1
pandas==2.0.1
parsel==1.8.1
pbr==5.11.1
Pillow==9.5.0
pipenv==2023.4.29
pipreqs==0.4.13
plac==1.3.5
platformdirs==3.5.0
Protego==0.2.1
psutil==5.9.4
psycopg2==2.9.6
psycopg2-binary==2.9.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
PyDispatcher==2.0.7
Pygments==2.15.1
pymongo==4.3.3
PyMySQL==1.0.3
pyOpenSSL==23.1.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-gitlab==1.8.0
pytz==2023.3
PyYAML==6.0
queuelib==1.6.2
readability-lxml==0.8.1
redgreenunittest==0.1.1
regex==2023.3.23
requests==2.29.0
requests-file==1.5.1
s3transfer==0.6.0
scikit-learn==1.2.1
scipy==1.10.0
Scrapy==2.8.0
service-identity==21.1.0
sgmllib3k==1.0.0
smmap==5.0.0
smmap2==3.0.1
soupsieve==2.4.1
sqlparse==0.4.4
stevedore==5.0.0
threadpoolctl==3.1.0
tinysegmenter==0.3
tldextract==3.4.1
tomli==2.0.1
toposort==1.10
torch-geometric==2.2.0
tqdm==4.65.0
Twisted==22.10.0
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.15
virtualenv==20.23.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.7
w3lib==2.1.1
warcio==1.7.4
whitenoise==6.5.0
winnowing==0.2.1
yarg==0.1.9
zope.interface==6.0
