.border-bottom-navbar {
    /* TODO: change color to dark grey */
    border-bottom: 1px solid black !important;
}

#submitButton {
    width: 150px;
    height: 50px;
    background: #2E837E;
    border: 4px solid #2E837E;
    border-radius: 20px;
    box-sizing: border-box;

}

.description-paragraph {
    font-size: 1.3rem;
    text-align: center;
}

.custom-container {
    width: 1000px;

}

#divText {
    margin-bottom: -100px;
}


.custom-textarea-container {
    height: 600px;
}

#plagiarismChecker {
    color: #000;
    font-size: xxx-large;
}
#forArticle{
    color: #000;
    font-size: xx-large;
    margin-top: 50px;
}
.custom-textarea {
    height: 80%; /* how much of the container is filled with the text box */
    /*border-color: #2E837E;*/
}

#textBox {
    border: 2px solid #2E837E;
}

.title {
    font-size: 2rem;
    font-weight: bolder;
    color: white;
}

.pin1 {
    border-radius: 50% 50% 50% 0;
    border: 4px solid red;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
}

.pin1::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: -5px;
    margin-top: -5px;
    background-color: #000;
}

.footerStyle a {
    text-decoration: none;
    color: #485A58;
}

.footerStyle a:hover {
    color: #667f7c;
}

@media (max-width: 450px) {
    .title {
        width: 350px;
    }
}