.border-bottom-navbar {
    /* TODO: change color to dark grey */
    border-bottom: 1px solid black !important;
}

#submitButton {
    width: 22%;
    height: 5.5vh;
    max-height: 100px;
    font-weight: bold; /* Change font weight to normal */
    font-size: min(0.75vh + 0.75vw, 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    background: #2E837E;
    border: 4px solid #2E837E;
    border-radius: 5px; /* Increase border radius for a more rounded button */
    box-sizing: border-box;
}
#forArticle{
    color: #000;
    font-size: medium;
    margin-top: 50px;
}

#forErrorPrompt{
    color: #ba2121;
    font-size: xx-large;
    margin-top: 50px;
}
.description-overlap{
    font-size: 1.3rem;
    text-align: center
}
.description-paragraph {
    font-size: 1.1rem;
}

.description-paragraph-main-page {
    font-size: 1.3rem;
}

.custom-container {
    width: 100%;
}

#divText {
    margin-bottom: -100px;
}


.custom-textarea-container {
    height: 100%;
}

#plagiarismChecker {
    color: #000;
    font-size: xxx-large;
}

.custom-textarea {
    height: 80%; /* how much of the container is filled with the text box */
    /*border-color: #2E837E;*/
}

#textBox {
    border: 2px solid #2E837E;
}

.title {
    font-size: 2rem;
    font-weight: bolder;
    color: white;
}

.pin1 {
    border-radius: 50% 50% 50% 0;
    border: 4px solid red;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
}

.pin1::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: -5px;
    margin-top: -5px;
    background-color: #000;
}

.footerStyle a {
    text-decoration: none;
    color: #485A58;
}

.footerStyle a:hover {
    color: #667f7c;
}

@media (max-width: 450px) {
    .title_main_page {
        width: 350px;
    }
}

.parentBoxesContainer {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.childBoxContainer {
  width: 50%;
  float: left;
  margin-bottom: -100px;
}

a.custom_cursor {
    color: #000 !important;
    text-decoration: none !important;
}

a.custom_cursor:hover {
    cursor: pointer !important;
    color: #333333 !important;
    transition: 0.2s !important;
}

.custom-outline-button.btn-outline-success{
    --bs-btn-color: rgb(46, 131, 126) !important;
    --bs-btn-border-color: rgb(46, 131, 126) !important;
    --bs-btn-hover-border-color: rgb(46, 131, 126) !important;
    --bs-btn-hover-bg: rgb(46, 131, 126) !important;
    --bs-btn-active-bg: rgb(46, 131, 126) !important;
    --bs-btn-active-border-color: rgb(46, 131, 126) !important;
}

.custom-iframe-height {
    height: 50%;
}

@media (min-width: 576px) {
    .custom-iframe-height {
        height: 100%;
    }
}


.pointer {
  position: absolute;
  top: -10px;
  transform: translateX(-50%); /* Centers the pointer horizontally */
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black; /* Pointer color */
  left: var(--progress, 0);
}

.progress-label {
  position: absolute;
  top: -27px;
  transform: translateX(-40%);
  font-size: 12px;
  font-weight: bold;
  left: var(--progress, 0);
}


.RCP .indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 2.2em;
    font-weight: 100;
    color: #555;
    user-select: none;
}

.custom-services-card {
    --bs-card-bg: none !important;
    --bs-card-border-radius: 0 !important;
    --bs-card-border-width: 0 !important;
}

.card-img-top.custom-services-card-image {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.description-paragraph-forward {
    font-size: 1.3rem;
}

@media (max-width: 768px) {
    #plagiarismChecker {
        font-size: xx-large
    }
}

@media (max-width: 576px) {
    .description-paragraph-forward {
        font-size: 1.1rem;
    }

    #plagiarismChecker {
        font-size: xx-large
    }

    @media (max-height: 700px) {
        #plagiarismChecker {
            font-size: x-large
        }

        .description-paragraph {
            font-size: 0.9rem;
        }
    }
}